//----------------------------------------------------------------------------
// base.scss
// Imports, settings, and variables
//----------------------------------------------------------------------------

// ---------------------------------------------------------------------------
// @DEBUG

    // * { outline: 2px dotted red }
    // * * { outline: 2px dotted green }
    // * * * { outline: 2px dotted orange }
    // * * * * { outline: 2px dotted blue }
    // * * * * * { outline: 1px solid red }
    // * * * * * * { outline: 1px solid green }
    // * * * * * * * { outline: 1px solid orange }
    // * * * * * * * * { outline: 1px solid blue }


// ---------------------------------------------------------------------------
// @IMPORTS

@import "susy";

// ---------------------------------------------------------------------------
// @GRID

$total-columns  : 12;
$column-width   : 4.063em;
$gutter-width   : 1.875em;
$grid-padding   : $gutter-width;

$show-grid-backgrounds  : true;

$columns: 16;  						//controls the default number of grid columns
$grid-width: 1020px; 				//controls the default overall grid width
$grid-container: 1000px; 



// ---------------------------------------------------------------------------
// COLORS

// @LINKS
$linkColor:             #08c !default;
$linkColorHover:        darken($linkColor, 15) !default;

// @GRAYS
$black:                 #000 !default;
$grayDarker:            #222 !default;
$grayDark:              #333 !default;
$gray:                  #555 !default;
$grayLight:             #999 !default;
$grayLighter:           #eee !default;
$white:                 #fff !default;

// @ACCENT COLORS
$blue:                  #049cdb !default;
$blueDark:              #0064cd !default;
$green:                 #46a546 !default;
$red:                   #9d261d !default;
$yellow:                #ffc40d !default;
$orange:                #f89406 !default;
$pink:                  #c3325f !default;
$purple:                #7a43b6 !default;

// @MAIN
$bodyBackground:        $white !default;
$baseTextColor:         $grayDark !default;

// @BUTTONS
$primaryBtnBckgrnd:     $linkColor !default;


// ---------------------------------------------------------------------------
// SPACES

$space-x: 				3px;
$space-s: 				5px;
$space-m: 				10px;
$space-l: 				20px;


// ---------------------------------------------------------------------------
// TYPOGRAPHY

$baseFontSize:          16px !default;
$baseFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$baseLineHeight:        18px !default;
$altFontFamily:         Georgia, "Times New Roman", Times, serif !default;

$headingsFontFamily:    inherit !default; // empty to use BS default, @baseFontFamily
$headingsFontWeight:    bold !default;    // instead of browser default, bold
$headingsColor:         inherit !default; // empty to use BS default, @textColor


// ---------------------------------------------------------------------------
// TYPOGRAPHY

// Z-index master list
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
$zindexDropdown:        1000 !default;
$zindexPopover:         1010 !default;
$zindexTooltip:         1020 !default;
$zindexFixedNavbar:     1030 !default;
$zindexModalBackdrop:   1040 !default;
$zindexModal:           1050 !default;


