//----------------------------------------------------------------------------
// layout.scss
// place for general layout styling. Store body, wrapper, content and other layout specific blocks here. 
//----------------------------------------------------------------------------

.container {
  @include container;
  @include susy-grid-background;
}

img {
  max-width: 100%;
}

// ---------------------------------------------------------------------------
// @HEADER

header
{
	@include span-columns(12,12);
	height: 150px;

	img
	{
		width:100%;
	}

	#logo
	{
		@include span-columns(2 alpha,12);
		height:150px;
	}

	#menu
	{
		@include span-columns(10 omega,12);
	}
		.top
	{
		@include span-columns(5,10);	
	}	
}


// ---------------------------------------------------------------------------
// @FEATURED

#slider
{
	@include span-columns(12,12);
}

    #mySlider 
    {
        width: 100%;			
        height: 400px;
        float:left;
    }


// ---------------------------------------------------------------------------
// @CONTENT

#content
{
}

#mainContent
{
	@include span-columns(9,12);

	li
	{
		@include span-columns(3,9);

		&:nth-child(3n)
		{
			@include omega;
		}
	}
}

aside
{
	@include span-columns(3 omega,12);
}


// ---------------------------------------------------------------------------
// @FOOTER

footer
{

}

