/* line 17, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/_scaffolding.scss */
.container {
  *zoom: 1;
  max-width: 69.381em;
  _width: 69.381em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.875em;
  padding-right: 1.875em;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(5.856%, rgba(100, 100, 225, 0.25)), color-stop(5.856%, rgba(0, 0, 0, 0)), color-stop(8.559%, rgba(0, 0, 0, 0)), color-stop(8.559%, rgba(100, 100, 225, 0.25)), color-stop(14.415%, rgba(100, 100, 225, 0.25)), color-stop(14.415%, rgba(0, 0, 0, 0)), color-stop(17.117%, rgba(0, 0, 0, 0)), color-stop(17.117%, rgba(100, 100, 225, 0.25)), color-stop(22.973%, rgba(100, 100, 225, 0.25)), color-stop(22.973%, rgba(0, 0, 0, 0)), color-stop(25.676%, rgba(0, 0, 0, 0)), color-stop(25.676%, rgba(100, 100, 225, 0.25)), color-stop(31.532%, rgba(100, 100, 225, 0.25)), color-stop(31.532%, rgba(0, 0, 0, 0)), color-stop(34.234%, rgba(0, 0, 0, 0)), color-stop(34.234%, rgba(100, 100, 225, 0.25)), color-stop(40.09%, rgba(100, 100, 225, 0.25)), color-stop(40.09%, rgba(0, 0, 0, 0)), color-stop(42.793%, rgba(0, 0, 0, 0)), color-stop(42.793%, rgba(100, 100, 225, 0.25)), color-stop(48.649%, rgba(100, 100, 225, 0.25)), color-stop(48.649%, rgba(0, 0, 0, 0)), color-stop(51.351%, rgba(0, 0, 0, 0)), color-stop(51.351%, rgba(100, 100, 225, 0.25)), color-stop(57.207%, rgba(100, 100, 225, 0.25)), color-stop(57.207%, rgba(0, 0, 0, 0)), color-stop(59.91%, rgba(0, 0, 0, 0)), color-stop(59.91%, rgba(100, 100, 225, 0.25)), color-stop(65.766%, rgba(100, 100, 225, 0.25)), color-stop(65.766%, rgba(0, 0, 0, 0)), color-stop(68.468%, rgba(0, 0, 0, 0)), color-stop(68.468%, rgba(100, 100, 225, 0.25)), color-stop(74.324%, rgba(100, 100, 225, 0.25)), color-stop(74.324%, rgba(0, 0, 0, 0)), color-stop(77.027%, rgba(0, 0, 0, 0)), color-stop(77.027%, rgba(100, 100, 225, 0.25)), color-stop(82.883%, rgba(100, 100, 225, 0.25)), color-stop(82.883%, rgba(0, 0, 0, 0)), color-stop(85.585%, rgba(0, 0, 0, 0)), color-stop(85.585%, rgba(100, 100, 225, 0.25)), color-stop(91.441%, rgba(100, 100, 225, 0.25)), color-stop(91.441%, rgba(0, 0, 0, 0)), color-stop(94.144%, rgba(0, 0, 0, 0)), color-stop(94.144%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 5.856%, rgba(0, 0, 0, 0) 5.856%, rgba(0, 0, 0, 0) 8.559%, rgba(100, 100, 225, 0.25) 8.559%, rgba(100, 100, 225, 0.25) 14.415%, rgba(0, 0, 0, 0) 14.415%, rgba(0, 0, 0, 0) 17.117%, rgba(100, 100, 225, 0.25) 17.117%, rgba(100, 100, 225, 0.25) 22.973%, rgba(0, 0, 0, 0) 22.973%, rgba(0, 0, 0, 0) 25.676%, rgba(100, 100, 225, 0.25) 25.676%, rgba(100, 100, 225, 0.25) 31.532%, rgba(0, 0, 0, 0) 31.532%, rgba(0, 0, 0, 0) 34.234%, rgba(100, 100, 225, 0.25) 34.234%, rgba(100, 100, 225, 0.25) 40.09%, rgba(0, 0, 0, 0) 40.09%, rgba(0, 0, 0, 0) 42.793%, rgba(100, 100, 225, 0.25) 42.793%, rgba(100, 100, 225, 0.25) 48.649%, rgba(0, 0, 0, 0) 48.649%, rgba(0, 0, 0, 0) 51.351%, rgba(100, 100, 225, 0.25) 51.351%, rgba(100, 100, 225, 0.25) 57.207%, rgba(0, 0, 0, 0) 57.207%, rgba(0, 0, 0, 0) 59.91%, rgba(100, 100, 225, 0.25) 59.91%, rgba(100, 100, 225, 0.25) 65.766%, rgba(0, 0, 0, 0) 65.766%, rgba(0, 0, 0, 0) 68.468%, rgba(100, 100, 225, 0.25) 68.468%, rgba(100, 100, 225, 0.25) 74.324%, rgba(0, 0, 0, 0) 74.324%, rgba(0, 0, 0, 0) 77.027%, rgba(100, 100, 225, 0.25) 77.027%, rgba(100, 100, 225, 0.25) 82.883%, rgba(0, 0, 0, 0) 82.883%, rgba(0, 0, 0, 0) 85.585%, rgba(100, 100, 225, 0.25) 85.585%, rgba(100, 100, 225, 0.25) 91.441%, rgba(0, 0, 0, 0) 91.441%, rgba(0, 0, 0, 0) 94.144%, rgba(100, 100, 225, 0.25) 94.144%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 5.856%, rgba(0, 0, 0, 0) 5.856%, rgba(0, 0, 0, 0) 8.559%, rgba(100, 100, 225, 0.25) 8.559%, rgba(100, 100, 225, 0.25) 14.415%, rgba(0, 0, 0, 0) 14.415%, rgba(0, 0, 0, 0) 17.117%, rgba(100, 100, 225, 0.25) 17.117%, rgba(100, 100, 225, 0.25) 22.973%, rgba(0, 0, 0, 0) 22.973%, rgba(0, 0, 0, 0) 25.676%, rgba(100, 100, 225, 0.25) 25.676%, rgba(100, 100, 225, 0.25) 31.532%, rgba(0, 0, 0, 0) 31.532%, rgba(0, 0, 0, 0) 34.234%, rgba(100, 100, 225, 0.25) 34.234%, rgba(100, 100, 225, 0.25) 40.09%, rgba(0, 0, 0, 0) 40.09%, rgba(0, 0, 0, 0) 42.793%, rgba(100, 100, 225, 0.25) 42.793%, rgba(100, 100, 225, 0.25) 48.649%, rgba(0, 0, 0, 0) 48.649%, rgba(0, 0, 0, 0) 51.351%, rgba(100, 100, 225, 0.25) 51.351%, rgba(100, 100, 225, 0.25) 57.207%, rgba(0, 0, 0, 0) 57.207%, rgba(0, 0, 0, 0) 59.91%, rgba(100, 100, 225, 0.25) 59.91%, rgba(100, 100, 225, 0.25) 65.766%, rgba(0, 0, 0, 0) 65.766%, rgba(0, 0, 0, 0) 68.468%, rgba(100, 100, 225, 0.25) 68.468%, rgba(100, 100, 225, 0.25) 74.324%, rgba(0, 0, 0, 0) 74.324%, rgba(0, 0, 0, 0) 77.027%, rgba(100, 100, 225, 0.25) 77.027%, rgba(100, 100, 225, 0.25) 82.883%, rgba(0, 0, 0, 0) 82.883%, rgba(0, 0, 0, 0) 85.585%, rgba(100, 100, 225, 0.25) 85.585%, rgba(100, 100, 225, 0.25) 91.441%, rgba(0, 0, 0, 0) 91.441%, rgba(0, 0, 0, 0) 94.144%, rgba(100, 100, 225, 0.25) 94.144%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 5.856%, rgba(0, 0, 0, 0) 5.856%, rgba(0, 0, 0, 0) 8.559%, rgba(100, 100, 225, 0.25) 8.559%, rgba(100, 100, 225, 0.25) 14.415%, rgba(0, 0, 0, 0) 14.415%, rgba(0, 0, 0, 0) 17.117%, rgba(100, 100, 225, 0.25) 17.117%, rgba(100, 100, 225, 0.25) 22.973%, rgba(0, 0, 0, 0) 22.973%, rgba(0, 0, 0, 0) 25.676%, rgba(100, 100, 225, 0.25) 25.676%, rgba(100, 100, 225, 0.25) 31.532%, rgba(0, 0, 0, 0) 31.532%, rgba(0, 0, 0, 0) 34.234%, rgba(100, 100, 225, 0.25) 34.234%, rgba(100, 100, 225, 0.25) 40.09%, rgba(0, 0, 0, 0) 40.09%, rgba(0, 0, 0, 0) 42.793%, rgba(100, 100, 225, 0.25) 42.793%, rgba(100, 100, 225, 0.25) 48.649%, rgba(0, 0, 0, 0) 48.649%, rgba(0, 0, 0, 0) 51.351%, rgba(100, 100, 225, 0.25) 51.351%, rgba(100, 100, 225, 0.25) 57.207%, rgba(0, 0, 0, 0) 57.207%, rgba(0, 0, 0, 0) 59.91%, rgba(100, 100, 225, 0.25) 59.91%, rgba(100, 100, 225, 0.25) 65.766%, rgba(0, 0, 0, 0) 65.766%, rgba(0, 0, 0, 0) 68.468%, rgba(100, 100, 225, 0.25) 68.468%, rgba(100, 100, 225, 0.25) 74.324%, rgba(0, 0, 0, 0) 74.324%, rgba(0, 0, 0, 0) 77.027%, rgba(100, 100, 225, 0.25) 77.027%, rgba(100, 100, 225, 0.25) 82.883%, rgba(0, 0, 0, 0) 82.883%, rgba(0, 0, 0, 0) 85.585%, rgba(100, 100, 225, 0.25) 85.585%, rgba(100, 100, 225, 0.25) 91.441%, rgba(0, 0, 0, 0) 91.441%, rgba(0, 0, 0, 0) 94.144%, rgba(100, 100, 225, 0.25) 94.144%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 5.856%, rgba(0, 0, 0, 0) 5.856%, rgba(0, 0, 0, 0) 8.559%, rgba(100, 100, 225, 0.25) 8.559%, rgba(100, 100, 225, 0.25) 14.415%, rgba(0, 0, 0, 0) 14.415%, rgba(0, 0, 0, 0) 17.117%, rgba(100, 100, 225, 0.25) 17.117%, rgba(100, 100, 225, 0.25) 22.973%, rgba(0, 0, 0, 0) 22.973%, rgba(0, 0, 0, 0) 25.676%, rgba(100, 100, 225, 0.25) 25.676%, rgba(100, 100, 225, 0.25) 31.532%, rgba(0, 0, 0, 0) 31.532%, rgba(0, 0, 0, 0) 34.234%, rgba(100, 100, 225, 0.25) 34.234%, rgba(100, 100, 225, 0.25) 40.09%, rgba(0, 0, 0, 0) 40.09%, rgba(0, 0, 0, 0) 42.793%, rgba(100, 100, 225, 0.25) 42.793%, rgba(100, 100, 225, 0.25) 48.649%, rgba(0, 0, 0, 0) 48.649%, rgba(0, 0, 0, 0) 51.351%, rgba(100, 100, 225, 0.25) 51.351%, rgba(100, 100, 225, 0.25) 57.207%, rgba(0, 0, 0, 0) 57.207%, rgba(0, 0, 0, 0) 59.91%, rgba(100, 100, 225, 0.25) 59.91%, rgba(100, 100, 225, 0.25) 65.766%, rgba(0, 0, 0, 0) 65.766%, rgba(0, 0, 0, 0) 68.468%, rgba(100, 100, 225, 0.25) 68.468%, rgba(100, 100, 225, 0.25) 74.324%, rgba(0, 0, 0, 0) 74.324%, rgba(0, 0, 0, 0) 77.027%, rgba(100, 100, 225, 0.25) 77.027%, rgba(100, 100, 225, 0.25) 82.883%, rgba(0, 0, 0, 0) 82.883%, rgba(0, 0, 0, 0) 85.585%, rgba(100, 100, 225, 0.25) 85.585%, rgba(100, 100, 225, 0.25) 91.441%, rgba(0, 0, 0, 0) 91.441%, rgba(0, 0, 0, 0) 94.144%, rgba(100, 100, 225, 0.25) 94.144%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 5.856%, rgba(0, 0, 0, 0) 5.856%, rgba(0, 0, 0, 0) 8.559%, rgba(100, 100, 225, 0.25) 8.559%, rgba(100, 100, 225, 0.25) 14.415%, rgba(0, 0, 0, 0) 14.415%, rgba(0, 0, 0, 0) 17.117%, rgba(100, 100, 225, 0.25) 17.117%, rgba(100, 100, 225, 0.25) 22.973%, rgba(0, 0, 0, 0) 22.973%, rgba(0, 0, 0, 0) 25.676%, rgba(100, 100, 225, 0.25) 25.676%, rgba(100, 100, 225, 0.25) 31.532%, rgba(0, 0, 0, 0) 31.532%, rgba(0, 0, 0, 0) 34.234%, rgba(100, 100, 225, 0.25) 34.234%, rgba(100, 100, 225, 0.25) 40.09%, rgba(0, 0, 0, 0) 40.09%, rgba(0, 0, 0, 0) 42.793%, rgba(100, 100, 225, 0.25) 42.793%, rgba(100, 100, 225, 0.25) 48.649%, rgba(0, 0, 0, 0) 48.649%, rgba(0, 0, 0, 0) 51.351%, rgba(100, 100, 225, 0.25) 51.351%, rgba(100, 100, 225, 0.25) 57.207%, rgba(0, 0, 0, 0) 57.207%, rgba(0, 0, 0, 0) 59.91%, rgba(100, 100, 225, 0.25) 59.91%, rgba(100, 100, 225, 0.25) 65.766%, rgba(0, 0, 0, 0) 65.766%, rgba(0, 0, 0, 0) 68.468%, rgba(100, 100, 225, 0.25) 68.468%, rgba(100, 100, 225, 0.25) 74.324%, rgba(0, 0, 0, 0) 74.324%, rgba(0, 0, 0, 0) 77.027%, rgba(100, 100, 225, 0.25) 77.027%, rgba(100, 100, 225, 0.25) 82.883%, rgba(0, 0, 0, 0) 82.883%, rgba(0, 0, 0, 0) 85.585%, rgba(100, 100, 225, 0.25) 85.585%, rgba(100, 100, 225, 0.25) 91.441%, rgba(0, 0, 0, 0) 91.441%, rgba(0, 0, 0, 0) 94.144%, rgba(100, 100, 225, 0.25) 94.144%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-position: left top;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
}
/* line 38, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 11, ../sass/_scaffolding.scss */
img {
  max-width: 100%;
}

/* line 19, ../sass/_scaffolding.scss */
header {
  width: 100%;
  float: left;
  margin-right: 2.702%;
  display: inline;
  height: 150px;
}
/* line 24, ../sass/_scaffolding.scss */
header img {
  width: 100%;
}
/* line 29, ../sass/_scaffolding.scss */
header #logo {
  width: 14.415%;
  float: left;
  margin-right: 2.702%;
  display: inline;
  height: 150px;
}
/* line 35, ../sass/_scaffolding.scss */
header #menu {
  width: 82.883%;
  float: right;
  margin-right: 0;
  #margin-left: -1.875em;
  display: inline;
}
/* line 39, ../sass/_scaffolding.scss */
header .top {
  width: 48.37%;
  float: left;
  margin-right: 3.261%;
  display: inline;
}

/* line 49, ../sass/_scaffolding.scss */
#slider {
  width: 100%;
  float: left;
  margin-right: 2.702%;
  display: inline;
}

/* line 54, ../sass/_scaffolding.scss */
#mySlider {
  width: 100%;
  height: 400px;
  float: left;
}

/* line 69, ../sass/_scaffolding.scss */
#mainContent {
  width: 74.324%;
  float: left;
  margin-right: 2.702%;
  display: inline;
}
/* line 73, ../sass/_scaffolding.scss */
#mainContent li {
  width: 30.909%;
  float: left;
  margin-right: 3.636%;
  display: inline;
}
/* line 77, ../sass/_scaffolding.scss */
#mainContent li:nth-child(3n) {
  float: right;
  margin-right: 0;
  #margin-left: -1.875em;
  display: inline;
}

/* line 84, ../sass/_scaffolding.scss */
aside {
  width: 22.973%;
  float: right;
  margin-right: 0;
  #margin-left: -1.875em;
  display: inline;
}

/* line 10, ../sass/_typography.scss */
p {
  margin: 0 0 9px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
}
/* line 17, ../sass/_typography.scss */
p small {
  font-size: 14px;
  color: #999999;
}

/* line 24, ../sass/_typography.scss */
.lead {
  margin-bottom: 18px;
  font-size: 20px;
  font-weight: 200;
  line-height: 27px;
}

/* line 36, ../sass/_typography.scss */
a {
  color: #0088cc;
  text-decoration: none;
}

/* line 41, ../sass/_typography.scss */
a:hover {
  color: #005580;
  text-decoration: underline;
}

/* line 50, ../sass/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
}
/* line 58, ../sass/_typography.scss */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
  color: #999999;
}

/* line 65, ../sass/_typography.scss */
h1 {
  font-size: 30 ÷ 16px;
  line-height: 36px;
}
/* line 70, ../sass/_typography.scss */
h1 small {
  font-size: 18px;
}
